<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <db>
        <host>127.0.0.1</host>
        <dbname>shopdrive</dbname>
        <username>root</username>
        <password></password>
    </db>
    <contact>
        <address>Teatralnyi lane, 4</address>
        <tel>+38(095)402-30-85</tel>
        <email>portden@gmail.com</email>
    </contact>    
</settings>